/*reset*/
*{
    margin: 0;
    padding: 0;
    font-size: 100%;
    border: none;
    outline: none;
    font-weight: 300;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
}

/*paleta*/
:root{
    --cor-rosa-escuro: #880e4f;
    --cor-rosa-medio: #dd2a7b;
    --cor-rosa-medio-claro:#f8bbd0;
    --cor-rosa-claro: #f8e4eb;
    --cor-branco: #ffffff;
    --cor-fundo: #f5f5f5;
    --cor-instagram: linear-gradient(135deg, #515bd4, #8134af, #dd2a7b, #feda77, #f58529);
    --cor-whats: linear-gradient(45deg, #075e54, #128c7e);
}

body{
    background-color: var(--cor-fundo);
}
    a{text-decoration: none;}
    ul{list-style: none;
    text-align: left;}
    img{width: 100%;}
    p{text-align: justify;
        margin: 0 5%;
        text-indent: 20px;}
    h2{
        font-size: 0;
        color: transparent;
        font-weight: 800;
        margin: 3% 10% 3% 10%;

    }
        h2::after{
            content: '';
            display: block;
            height: 2px;
            width: auto;
            background: linear-gradient(to right, transparent, var(--cor-rosa-medio), transparent);
        }
    h3{ font-size: 1.2em;
         font-weight: 600;}
    
        span{
            color: #c2185b;
            font-weight: 800;
        }

    /*opção selecionada do menu*/
    .menu ul li .on{
        color: var(--cor-rosa-escuro);
        font-weight: 600;
        pointer-events: none;
    }

    /*link de voltar ao inicio*/
    #link-topo{
        background-color: var(--cor-rosa-medio);
        color: #ffffff;
        padding: 15px;
        border-radius: 50%;
        position: fixed;
        right: 10px;
        bottom: 10px;
    }
        #link-topo:hover{
            transform: scale(1.2);
        }



/*************HOME**********/
/*cabeçalho*/
.cabecalho{
    width: 100%;
    float: left;
    padding: 3% 8%;
    border-radius: 0 0 20px 20px;
}

    .logo{
        width: 150px;
        height: 50px;
        float: left;
        background: url(img/logo_cabecalho.png) center center/150px no-repeat;
        font-size: 0;
    }

    .btn-menu{
        font-size: 1.3em;
        margin:5%;
        float: right;
        cursor: pointer;
    }
       

/*menu*/
.menu{
    width: 50%;
    height: 100%;
    position: fixed;
    background: linear-gradient(var(--cor-rosa-medio-claro), var(--cor-rosa-claro), var(--cor-branco));
    box-shadow: -20px 0 30px 2px #000;
    top: 0;
    left: 50%;
    display: none;
}

    .btn-close{
        font-size: 2em;
        float: right;
        cursor: pointer;
        background-color: var(--cor-rosa--medio-claro);
        margin: 4% 4% 0 0;
    }

        /*hover dos botões do menu*/
        .btn-menu:hover, .btn-close:hover{
            color: var(--cor-rosa-medio);
        }

    .menu ul{
        width: 100%;
        float: left;
    }

        .menu li {
            padding: 10% 6%;
        }
        .menu li a{
            font-size: 1.2em;
            text-transform: uppercase;
            color: #000000;
        }
            .menu li a:hover{
                font-weight: 800;
                color: var(--cor-rosa-medio);
                cursor: pointer;
            }

/*banner*/
.banner{
    margin-top: 2%;
    width: 100%;
    float: left;
    text-align: center;
    padding: 6%;
    background: url(img/banner.jpg);
    box-shadow: 0 2px 10px #888;
}
    .banner h1{
        font-family: 'Julius Sans One', sans-serif;
        font-size: 1.3em;
        font-weight:900;
        color: var(--cor-rosa-medio) ;
}


/*principal*/
.apresentacao{
    width: 100%;
    float: left;
    padding: 4%;
}

.box{
    width: 100%;
    margin: 4% 2%;
    padding: 2%;
    text-align: center;
    box-shadow: 0 2px 10px 2px #888;
    border-radius: 10px;
}

    .box h3{
        font-size: 1.2em;
        font-weight: 600;
    }
        .box img{
            width: 80%;
            padding: 5%;
        }
        .box a img:hover{
            transform: scale(1.01);
        }

   .img-cilios{
    border-radius: 10px;
   }


/*você sabia*/
.vocesabia{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.container-vocesabia{
    background-color: var(--cor-rosa-medio-claro);
    border-radius: 25px;
    text-align: center;
    width: 60%;
    padding: 5%;
    margin-bottom: 8%;  
}
    /*marcação das listas*/
    .vocesabia li::marker, .regras li::marker{
        content: '♥';
        color: var(--cor-rosa-medio);
    }

    .vocesabia h4{
        color: var(--cor-rosa-escuro);
        font-weight: 800;
    }

    .vocesabia ul li{
        margin-left: 25%;
        padding: 5px;
    }


/*rodapé*/
.rodape{
    width: 100%;
    float: left;
    background: linear-gradient(var(--cor-rosa-medio-claro), var(--cor-branco));
    border-radius: 20px 20px 0 0;
    text-align: center;
    padding: 2% 0 3% 0;
}

    .social a {
        font-size: 2em;
        color: #000000;
        padding: 0 1%;
    }
        /*cor dos ícones*/
        .instagram{
            background: var(--cor-instagram);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            }
        .whats{
            background: var(--cor-whats);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;   
            }

    .copyright{
        display: flex;
        justify-content: center;
        margin-top: 3%;
    }
        .img-footer{
            width: 20%;
        }
        .c-footer{
            width: 70%;
        }

        /**RESPONSIVO**/

/*small*/
    @media screen and (min-width: 450px){
    
    /*cabecalho*/
        .logo{
            width: 230px;
            height: 60px;
            background: url(img/logo_cabecalho.png) center center/230px no-repeat;
        }
    
    /*menu*/
        .btn-menu{
            font-size: 1.5em;
        }

    /*rodapé*/
        .c-footer{
            font-size: 1.2em;
        }

        .img-footer{
            width: 15%;
        }
    }

/*medium*/
    @media screen and (min-width: 760px){

    /*cabeçalho*/
        .logo{
            margin-left: 35%;
            width: 150px;
            height: 90px;
            background: url(img/logosf.png) center center/150px no-repeat;
        }

    /*menu*/
        .btn-menu{
            font-size: 2em;
        }

        .btn-close{
            font-size: 2.5em;
        }

        .menu li a{
            font-size: 1.3em;
        }

    
    /*banner*/
        .banner h2{
            font-size: 2.2em;
    }

    /*principal*/
        .apresentacao{
            display: flex;
            justify-content: center;
            align-items: stretch;
            gap: 8%;
        }
            .box{
                width: 45%;

                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }

            .box h3{
                font-size: 1.5em;
            }
            
            .box p{
                font-size: 1.2em;
                text-align: justify;
                margin: 0 5%;
            }
    

     /*você sabia*/
        .vocesabia h3, .vocesabia h4{
            font-size: 1.5em;
        }

        .vocesabia li{
            font-size: 1.3em;
        }
    
    /*rodapé*/
        .social a {
            font-size: 2.5em;
            }
        .c-footer{
            font-size: 1.5em;
            }

    }

/*desktops*/
    @media screen and (min-width:950px){

    /*cabeçalho*/
        .logo{
            width: 200px;
            height: 150px;
            background: url(img/logosf.png) center center/200px no-repeat;
        }

    /*menu*/
    .menu{
        width: 50%;
        left: 60%;
    }

    /*banner*/        
        .banner h1{
            font-size: 2.2em;
        }

    /*conteúdo*/
        .box h3{
            font-size: 1.8em;
        }
        
        .box p{
            font-size: 1.4em;
        }

    /*você sabia*/
    .container-vocesabia{
        width: 40%;
        padding: 3%;
    }

    .vocesabia h3, .vocesabia h4{
        font-size: 1.8em;
    }

    .vocesabia li{
        font-size: 1.6em;
    }
   
        
    /*rodapé*/
        .rodape{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        }

        .social a {
            width: 30%;
            font-size: 2.5em;
            padding: 1%;
            }
            .copyright{
                width: 60%;
            }

        .img-footer{
            width: 15%;
        }

        .c-footer{
            font-size: 1.4em;
        }
    }


/*large*/
    @media screen and (min-width:1280px){

    /*cabeçalho*/
        .cabecalho{
            padding: 1% 8%;
            border-radius: 0 0 20px 20px;
        }

        .logo{
            margin-left: 0;
        }

    /*menu*/
        .btn-menu, .btn-close{
            display: none;
        }

        .menu{
            width: auto;
            height: 50px;
            line-height: 60px;
            float: right;
            display: block;
            position: static;
            margin: 5%;
            box-shadow: none;
        }
        .menu li{
            background-color: var(--cor-fundo);
            padding: 0;
            float: left;
        }
        .menu li a{
            color: #000000;
            font-size: 1.5em;
            padding: 20px;
        }

    /*principal*/
    .apresentacao{
        display: flex;
        gap: 5%;
    }

    /*rodapé*/
        .rodape{
            padding: 2% 0 1% 0;
        }

            .rodape i{
                font-size: .8em;
            }
}




/********QUEM SOU EU***********/

    /*conteúdo*/
    .raiane{
        width: 100%;
        float: left;
        padding: 4%;

        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
        
    .principal{
        
        margin: 0 0 10% 0;
        width: 100%;
        text-align: center;
    }
    .principal img{
        width: 40%;
    }
        .sobre img{
            border-radius: 50%;
            margin: 3%;
        }
            
        .curso img{
            float: left;
            margin: 5%;
            border-radius: 5px;
         }

         .text-sobre h3{
            display: block;
            margin-bottom: 10px;
            color: var(--cor-rosa-escuro);
            text-transform: uppercase;
            font-weight: bold;
         }

        .text-sobre a{
            color: var(--cor-rosa-escuro);
            font-weight: 600;
        }
/*small e medium*/
    @media screen and (min-width: 450px){

        .titulo{
            font-size: 1em;
        }
       
        .raiane article{
            width: 85%;
        }
        .text-sobre h3{
            font-size: 1.5em;
        }
        
        .text-sobre p{
            text-align: justify;
            margin: 0 5%;
            font-size: 1.4em;
        }

    }

/*desktops*/
     @media screen and (min-width:950px){

        .raiane{
            gap: 5%;
            align-items: stretch;
        }
        .raiane article{
            width: 40%;
        }
            .curso-sobre img{
                width: 55%;
            }

            .text-sobre h3{
                font-size: 1.6em;
            }
            
            .text-sobre p{
                font-size: 1.5em;
            }
     }

/*large*/
    @media screen and (min-width:1280px){

        .text-sobre h3{
            font-size: 1.8em;
        }
        
        .text-sobre p{
            font-size: 1.7em;
        }
    }


/*********SERVIÇOS E CONTATO***********/
/*conteudo*/
/*geral*/
    .trabalhos{
        width: 100%;
        float: left;
        padding: 4%;

        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

/*cilios*/
.trabalhos article{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
    .ext, .gloss{
        margin: 0 0 5% 0;
    }

    .zoom{
        transform: scale(1.2);
        z-index: -1;
    }
/*textos -- geral*/

.regras{
    text-align: left;
    margin: 0 10%;
}

    .trabalhos div{
        text-align: center;
    }

    /*imagens*/
    .cilios, .gloss{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 5px;
    }
    .trabalhos img{
        width: 25%;
        margin: 1%;
        border-radius: 10px;
    }


/*contatos*/
.contatos{
    width: 70%;
    margin: auto;
    padding: 2%;
    border-radius: 10px;
    box-shadow: 0 2px 10px 2px #888;
}

.contatar a {
    font-size: 1.2em;
    color: #000000;
    padding: 0 3%;
}


/*small and medium*/
@media screen and (min-width: 450px){


    .trabalhos h3{
        font-size: 1.5em;
    }
    
    .trabalhos p, .trabalhos li{
        font-size: 1.4em;
    }
}

 /*desktops*/
 @media screen and (min-width:950px){

    .trabalhos h3{
        font-size: 1.7em;
    }
    .trabalhos p, .trabalhos li{
        font-size: 1.5em;
    }

    .cilios img{
        width: 20%;
        margin: 3%;
    }
 }

   /*large*/
   @media screen and (min-width:1280px){
  
    .trabalhos h3{
        font-size: 1.8em;
    }
    .trabalhos p, .trabalhos li{
        font-size: 1.7em;
    }

    .cilios img{
        width: 13%;
        margin: 1%;
    }


    .separar{
        display: flex;
        align-items: center;
        justify-content: center;
       
    }
        .separar article{
            width: 45%;
        }

        .separar img{
            width: 40%;
            margin: 1%;
        }
   }